<div id="printcontents">
  <table class="lines">
    <thead>
      <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Occupation</td>
      </tr>
    </thead>
    <tbody>
     <tr>
       <td>Abhishek Bag</td>
       <td>27
          <img width="300" alt="Angular Logo" 
          src="../../assets/Koala.jpg">
       </td>
       <td> 
         <span class="barcode" style="font-family: 39251, arial">
            Software Dev
        </span></td>
     </tr>
    </tbody>
   </table>
</div>

<button (click)="generatePdf()">Print Pdf</button>
